*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* 头部 */
.header{
    width: 100%;
    height: 80px;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #ccc;
    position: absolute;
    z-index: 999;
}
.header .logo{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url('http://qty83k.creatby.com/materials/95622/origin/d5144dfb2dcb65f4d21f23fa042c5d1a_origin.png');
    background-size: 100% 100%;
    margin-left: 40px;
}
.header .nav{
   float: right;
   width: 420px;
   height: 80px;
   line-height: 80px;
   margin-right: 30px;
}
.header .nav li{
    display: inline-block;
}
.header .nav li a{
    padding: 0px 8px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}
.header .nav li a:hover{
    color: rgba(255, 60, 0, 0.959);
}
/* 轮播图 */
.swiper{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
/* line部分  */
.line{
    width: 100%;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 450px;
}  
.line ul{
    width: 500px;
    height: 101px;
    padding: 10px 0;
    background: #fff;
}
.line ul li{
    display: inline-block;
    width: 160px;
    height: 81px;
    box-sizing: border-box;
    padding: 0px 10px;
    border-right: 1px solid #ccc;
    text-align: center;
}
.line ul li:nth-child(3){
    border: none;
}
.line ul li img{
    width: 60px;
    height: 60px;
}
/* projects部分 */
.projects{
    width: 80%;
    /* border: 1px solid red; */
    margin: 100px auto;
}
.projects .title{
    margin-bottom: 16px;
    color: rgb(0, 132, 255);
}
.projects ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projects ul li{
    width: calc((100% - 30px) / 4);
}
.projects ul li img{
    width: 100%;
    height: 80%;
}
.projects li img p{
    color: rgb(0, 132, 255);
}
/* footer部分 */
.footer {
    width: 100%;
    height: 400px;
    background-image: url('./img/bottom.jpg');
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 使用这个就居中不了 */
    /* text-align: center;
    line-height: 400px; */
    position: relative; 
}
/* 利用伪元素制作“遮照层” */
.footer::after{
    display: inline-block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.55);
}
.footer p {
    display: inline-block;
    width: 60%;
    color: #fff;
    text-indent: 35px;
    font-size: 16px;
    position: absolute;
    z-index: 100;
}

/* 媒体查询 */
@media screen and (max-width: 900px){
    .header{      
        height: 50px;      
    }
    .header ul{
        margin-top: -15px;
    }
    .header ul li{
        height: 50px;
        line-height: 50px;
    }
    .header .logo{
        width: 50px;
        height: 50px;
    }
    .projects ul li{
        width: calc((100% - 30px) / 3);
    }
}

@media screen and (max-width: 700px){
    .header .nav{
        display: none;
    }
    .line{
        margin-top: -80px;
    }
    .projects ul li{
        width: calc((100% - 30px) / 2);
    }
    .swiper{
        height: 400px;
    }
}
@media screen and (max-width: 500px){
    .projects ul li{
        width: 100%;
    }
    .line ul{
        width: 200px;
    }
    .line ul li{
        width: 65px;
    }
    .line ul li img{
        width: 40px;
        height: 40px; 
    }
}
